<div class="container mb-3 border rounded-2 p-4">
    <button class="btn btn-outline-danger me-2" id="homeRobotBtn" data-bs-title="Move robot to its home position" data-bs-toggle="tooltip" data-bs-placement="bottom">
      <!-- <i class="bi bi-trash3-fill"></i>  -->
      Home Robot
    </button>

    <button class="btn btn-outline-warning" id="resetRobotBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Reset robot instance">
      <!-- <i class="bi bi-robot"></i> -->
       Reset Robot
    </button>
</div>