<div class="container">

    <!-- record control buttons -->
    <div class="card" style="background-color: var(--bs-gray-800)!important">
        <h6 class="card-header p-3">Mode Controls</h6>
        <div class="card-body pt-4 pb-4">

          <button class="btn btn-primary me-2" id="startHGDAggerSessionBtn" data-bs-title="Only start control loop" data-bs-toggle="tooltip" data-bs-placement="bottom">
            <i class="bi bi-arrow-repeat"></i> 
            Start Session
          </button>
          <button class="btn btn-danger me-2" id="stopHGDAggerSessionBtn" data-bs-title="Stop control loop" data-bs-toggle="tooltip" data-bs-placement="bottom">
            <i class="bi bi-ban"></i> 
            Stop Session
          </button>

          <hr>
          <small>HG-DAgger controls. Make sure session is running!</small>

          <div class="mt-1">
            <button class="btn btn-danger m-2" id="interruptPolicyBtn" data-bs-title="Interrupt policy from sending action commands to the robot" data-bs-toggle="tooltip" data-bs-placement="bottom">
              <i class="bi bi-stop-fill"></i>
              Interrupt Policy
            </button> 
            <button class="btn btn-success m-2" id="takeControlBtn" data-bs-title="Take control of the robot to provide corrective actions. Make sure leader robot's pose matches follower robot." data-bs-toggle="tooltip" data-bs-placement="bottom">
              <i class="bi bi-dpad-fill"></i> 
              Take Control
            </button>         
            <button class="btn btn-success m-2" id="giveControlBtn" data-bs-title="Give control back to the policy to send action commands." data-bs-toggle="tooltip" data-bs-placement="bottom">
              <i class="bi bi-cpu-fill"></i> 
              Give Control
            </button>                              
            <button class="btn btn-primary m-2" id="finishHGDaggerRolloutBtn" data-bs-title="Finish the rollout and save collected expert dataset." data-bs-toggle="tooltip" data-bs-placement="bottom">
              <i class="bi bi-save-fill "></i> 
              Finish Rollout
            </button>
            <!-- <button class="btn btn-danger m-2" id="cancelHGDaggerRolloutBtn" data-bs-title="Cancel and del recorded data. (Shortcut: Left Arrow)" data-bs-toggle="tooltip" data-bs-placement="bottom">
              <i class="bi bi-trash3-fill"></i> 
              Cancel
            </button> -->

          </div>    
        </div>
    </div>

    <!-- HG-DAgger configuration -->
    <div class="accordion mt-lg-4" id="hgDaggerAccordian">

      <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHGDAggerTab" aria-expanded="true" aria-controls="collapseHGDAggerTab" style="background-color: var(--bs-gray-800)!important">
            <h6 class="card-header">Configurations</h6>
          </button>
        </h2>

        <div id="collapseHGDAggerTab" class="accordion-collapse collapse" data-bs-parent="#hgDaggerAccordian">
          <div class="accordion-body" style="background-color: var(--bs-gray-800)!important">

            <!-- configs -->
            <form id="HGDAggerConfigForm" action="/robot/hg-dagger/config-update" method="post">

              <div class="mb-3">
                <label for="robotConfigSelect" class="form-label">Robot Config</label>
                <select id="robotConfigSelect" class="form-select" name="robot_config"></select>
                <div class="form-text">Path to robot config file</div>
              </div>   

              <label for="HGDAggerPolicyPath" class="form-label">Pretrained Policy</label>
              <input type="text" id="HGDAggerPolicyPath" name="policy_path" class="form-control" aria-describedby="HGDAggerHelpline" value="">
              <div class="form-text">Path to the trained policy. e.g - outputs/train/act_so100_test/checkpoints/last/pretrained_model</div>
              
              <label for="HGDAggerRoot" class="form-label mt-4">Root Dir</label>
              <input type="text" id="HGDAggerRoot" name="root_dir" class="form-control" aria-describedby="recordHelpline" value="data/">
              <div class="form-text">Root directory where the accumlated dataset is stored (e.g. 'dataset/path')</div>
              <div>
                <small id="HGDAggerDirNotExistsMsg" style="color: red; display: none;">Accumlated dataset folder does not exists!!</small>
              </div>

              <label for="HGDAggerRepoID" class="form-label mt-4">Repo ID</label>
              <input type="text" id="HGDAggerRepoID" name="repo_id" class="form-control" aria-describedby="HGDAggerHelpline" value="default/dataset">
              <div class="form-text">Dataset identifier. By convention it should match '{hf_username}/{dataset_name}' (e.g. `lerobot/test`)</div>
              
              <label for="HGDAggerSingleTask" class="form-label mt-4">Single Task Desc</label>
              <input type="text" id="HGDAggerSingleTask" name="single_task" class="form-control" aria-describedby="HGDAggerHelpline" value="">
              <div class="form-text">A short but accurate description of the task being performed.</div>

              <div class="input-group mb-3">
                <span class="input-group-text">Num Epochs</span>
                <input type="number" class="form-control" id="HGDAggerNumEpochs" name="num_epochs" value="10" aria-label="number of epochs">
                <span class="input-group-text">Curr Epoch</span>
                <input type="number" class="form-control" id="HGDAggerCurrEpoch" name="curr_epoch" value="0" aria-label="current epoch" disabled>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Num Rollouts</span>
                <input type="number" class="form-control" id="HGDAggerNumRollouts" name="num_rollouts" value="10" aria-label="number of rollouts">
                <span class="input-group-text">Max Rollout Time</span>
                <input type="number" class="form-control" id="HGDAggerMaxRolloutTime" name="max_rollout_time_s" value="60" aria-label="max allowed time for a rollout">
                <div class="form-text">
                  Max time per rollout in seconds. Saftey feature implemented to prevent infinite loop execution.
                </div>
              </div>
              
              <hr>
              <div class="container mb-2 d-flex flex-wrap">

                <div class="form-check form-switch" style="margin-right: 10px;">
                  <input class="form-check-input" name="resume" type="checkbox" role="switch" id="resumeHGDAggerProcessToggle">
                  <label class="form-check-label" for="resumeHGDAggerProcessToggle">Resume</label>
                </div>

                <div class="form-check form-switch" style="margin-right: 10px;">
                  <input class="form-check-input" name="local_files_only" type="checkbox" role="switch" id="HGDAggerLocalFilesToggle">
                  <label class="form-check-label" for="HGDAggerLocalFilesToggle">Local Files Only</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" name="run_compute_stats" type="checkbox" role="switch" id="HGDAggerRunComputeStats" checked>
                  <label class="form-check-label" for="HGDAggerRunComputeStats">Run Compute Stats</label>
                </div>

                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" name="push_to_hub" type="checkbox" role="switch" id="HGDAggerPushToHub">
                  <label class="form-check-label" for="HGDAggerPushToHub">Push To Hub</label>
                </div>

              </div>                                    
              

              <div class="input-group mb-3">
                <!-- <span class="input-group-text">Max Episode Time</span>
                <input type="number" class="form-control" id="recordEpisodeTime" name="episode_time_s" value="40" aria-label="episode time"> -->
                <span class="input-group-text">FPS</span>
                <input type="number" class="form-control" id="HGDAggerFPS" name="fps" value="30" aria-label="frames per second">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Warmup Time</span>
                <input type="number" class="form-control" id="HGDAggerWarmupTime" name="warmup_time_s" value="5" aria-label="warmup time">
                <span class="input-group-text">Reset Time</span>
                <input type="number" class="form-control" id="HGDAggerResetTime" name="reset_time_s" value="10" aria-label="reset time after each rollout">
                <div class="form-text">
                  Warmup time for the camera feed. Reset time after each rollout.                        
                </div>
              </div>

              

              <div class="input-group mb-3">
                <span class="input-group-text">Image Writer Processes</span>
                <input type="number" class="form-control" id="HGDAggerImageWriterProcesses" name="num_image_writer_processes" value="0" aria-label="number of processes for image writer">
                <span class="input-group-text">Writer Threads</span>
                <input type="number" class="form-control" id="HGDAggerImageWriterThreads" name="num_image_writer_threads_per_camera" value="4" aria-label="number of threads for image writer">
                <div class="form-text">
                  Number of subprocesses for saving frames as PNGs. Set to 0 to use threads only; ≥1 to use subprocesses with threads. Recommended: 4 threads per camera with 0 processes. Adjust thread count if FPS is unstable; if still unstable, try using subprocesses.
                </div>
              </div>


              <div class="d-grid gap-2 col-6 mx-auto mt-4">
                <button type="submit" class="btn btn-warning">Apply</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
</div>